* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main_sec, .main_sec .container, .main_sec .container header, .main_sec .container header .logo, .main_sec .container header nav, .main_sec .container header nav ul, .main_sec .container .main, .main_sec .container .contact, .prosperity, .prosperity .prosperti_list, .prosperity .prosperti_list .pros_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main_sec .container header nav ul li a {
  font-family: 'Raleway';
  font-size: 25px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #fff;
}

.main_sec .container header .logo .tw-log, .main_sec .container .contact a, .prosperity .prosperti_list .pros_items p {
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
}

.prosperity .prosperti_list .pros_items .bench, .prosperity .prosperti_list .pros_items .buildings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_sec {
  height: 840px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242B33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242B33)), url("/img/pngs/logo.png");
  background: linear-gradient(180deg, #242B33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242B33 92.19%), url("/img/pngs/logo.png");
  background-position: center;
  background-size: cover;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main_sec .container {
  margin: 30px 200px;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 840px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_sec .container header {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  min-height: 70px;
}

.main_sec .container header .logo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 150px;
}

.main_sec .container header .logo .tw-log {
  letter-spacing: 0.12em;
}

@media (max-width: 375px) {
  .main_sec .container header .logo .tw-log {
    font-family: 'Raleway';
    font-size: 10px;
    line-height: 12px;
    text-decoration: none;
    color: #fff;
  }
}

.main_sec .container header .logo .main-logo {
  color: #fff;
  font-size: 36px;
  font-family: 'Post No Bills Jaffna SemiBold';
  line-height: 50px;
  text-decoration: none;
}

@media (max-width: 375px) {
  .main_sec .container header .logo .main-logo {
    font-size: 25px;
    line-height: 30px;
  }
}

.main_sec .container header .logo:hover {
  -webkit-transition: 2.2s;
  transition: 2.2s;
  border-bottom: 1px solid #D4C17F;
  color: #D4C17F;
}

.main_sec .container header .logo:hover a {
  color: #D4C17F;
  -webkit-transition: 2.2s;
  transition: 2.2s;
}

.main_sec .container header nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_sec .container header nav ul {
  margin: 0;
  height: 20px;
  padding: 0;
  min-width: 540px;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_sec .container header nav ul li {
  padding: 0px 10px;
}

.main_sec .container header nav ul li:hover a {
  color: #D4C17F;
  -webkit-transition: 1.7s;
  transition: 1.7s;
  text-shadow: 0 0 1px #D4C17F,0 0 1px;
}

.main_sec .container .main {
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 582px;
  min-height: 470px;
}

.main_sec .container .main h1 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #D4C17F;
}

.main_sec .container .contact {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 372px;
  min-height: 25px;
}

.main_sec .container .contact img {
  padding-right: 15px;
}

.main_sec .container .contact a:hover {
  color: #D4C17F;
  -webkit-transition: 2.2s;
  transition: 2.2s;
}

.prosperity {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 380px;
  background-color: #242b33;
}

.prosperity .prosperti_list {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prosperity .prosperti_list .pros_items {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.prosperity .prosperti_list .pros_items p {
  line-height: 25px;
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 1400px) {
  .main_sec .container {
    margin: 30px 30px;
  }
  .main_sec .container header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
